@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
   width: 100vw;
   min-height: 100vh;
}

.login_background {
   background: linear-gradient(#15613b, #186b4b, #199b5e);
}

.text_whitesmoke {
    color: whitesmoke;
}

.center {
    @apply flex justify-center items-center;
}

.glassmorphism {
    @apply rounded-xl border border-gray-800 bg-black/10 shadow-[inset_10px_-50px_94px_0_rgb(0,0,0,0.4)] backdrop-blur p-5;
}

.form_input {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-900 outline-0 focus:ring-2 focus:ring-green-700 focus:outline-none bg-stone-200;
}